/* Regular font */
@font-face {
  font-family: 'Roboto-Bold';
  src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Bold font */
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in the total width and height */
    color: black;
    font-weight:590;
}

body {
    background-color: hsl(235, 18%, 26%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    height: 480px;
    background-color: white;
    border-radius: 20px;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-left: 40px;
}

.content h1 {
    font-weight: 1200;
    font-size: 40px;
    font-family: 'Roboto-Bold', sans-serif;
}
.content p {
    font-family: 'Roboto', sans-serif;    
    font-size: 12px;
    font-weight: 500;
}
.image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.image img {
    width: 100%;
    height: auto;
    max-height: 100%;
    border-radius: 20px; /* Rounded corner on the right side */
    padding: 3px;
}
.points {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.points img {
    margin-right: 10px; /* Adjust the margin as needed */
    width: 6%;
    height: auto;
    max-height: 100%;
}

.points p {
    margin: 0;
    display: flex;
    align-items: center; /* Center the text vertically */
    font-size: 12px;
}
.info {
    display: flex;
    flex-direction: column;
    width: 300px; /* Adjust width as needed */
}

label {
    font-size: x-small; /* Adjust font size as needed */
    font-weight: bold;
    margin-bottom: 8px; /* Add some spacing between label and input */
}

input {
    height: 45px;
    width: 280px;
    border-radius: 4px;
    border: 2px solid #ccc;
    padding: 15px; /* Add padding for better appearance */
}
input ::placeholder{
    opacity: 0.6;
    font-size: 5px;

}
.button {
    display: inline-block; /* Ensures the button takes the size of its content */
     /* Adjust margin as needed */
  }

  /* Style the button */
  .button button {
    width: 280px; /* Set the width of the button */
    height: 40px; /* Set the height of the button */
    padding: 10px; /* Adjust padding as needed */
    font-size: 12px; /* Set the font size of the button text */
    background-color: hsl(234, 29%, 20%); /* Set the background color */
    color: #fff; /* Set the text color */
    border: none; /* Remove border for a cleaner look */
    cursor: pointer; /* Change cursor to pointer on hover */
    border-radius: 5px;
  }
.error-border {
  border: 1px solid red; /* Adjust the border style as needed */
}

.errormsg {
  color: red; /* Adjust the text color as needed */
}
.label-container {
  display: flex;
  align-items: baseline;/* Align items at the baseline to keep them in the same line */
}

.label-container p {
  color: red;
  font-size: x-small; /* Adjust font size as needed */
  font-weight: bold;
  margin-left: 130px;/* Initially hide the error message */
  display: none;
}
